/* frontend/src/index.css */

/* index.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f5f5dc; /* Beige background for whole page */
  min-height: 100vh;
}


button {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  padding: 10px 20px;
  margin-top: 10px;
  transition: 0.3s;
}

button:hover {
  opacity: 0.9;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}
